<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title%> &middot; Marx</title>

    <%= stylesheet_link_tag "all" %>
  </head>

  <%= partial "partials/nav" %>

  <body>
    <main>
      <%= yield %>

      <%= partial "partials/footer" %>
    </main>
  </body>


  <%= javascript_include_tag "all" %>
</html>
